# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
venv/
ENV/
env/
*.env
!.env.example

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Node / React
node_modules/
frontend/node_modules/
frontend/dist/
dist/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vite
.vite/
frontend/.vite/

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
