DATABASE_URL=postgresql://neondb_owner:npg_rBW1mdE9DlHo@ep-broad-hall-b3km33tz-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DEBUG=False
SECRET_KEY=your-production-django-secret-key-here
ALLOWED_HOSTS=*
